.new-tweet {
  display: flex;
  flex-direction: column;
  width: 90%;
}

textarea {
  background-color: #f4f1ec;
  border: none;
  padding: 10px
}

#tweet-text {
  width: 100%;
}

.submit-button {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  border-top-style: black;
  border-top: solid;
  padding-top: 5px;
}

.submit-tweet {
  color: #FFFFFF;
  background-color: #4056A1;
}

